@import 'tailwindcss';
@import url('./fonts.css');

body,
html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
button {
  cursor: pointer;
  transition: 0.2s;
}

.container {
  max-width: clamp(18.75rem, 90%, 75rem);
  margin-inline: auto;
  padding: 0 10px;
}
